In [14]:
import pandas as pd
import numpy as np
import kagglehub
import os

In [29]:
# Read the data excel sheet
df = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name = 1)
df.to_csv('Bank_Personal_Loan_Modelling.csv',index = None, header = True)
print(df)

        ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4    1.6          1
1        2   45          19      34     90089       3    1.5          1
2        3   39          15      11     94720       1    1.0          1
3        4   35           9     100     94112       1    2.7          2
4        5   35           8      45     91330       4    1.0          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4995  4996   29           3      40     92697       1    1.9          3
4996  4997   30           4      15     92037       4    0.4          1
4997  4998   63          39      24     93023       2    0.3          3
4998  4999   65          40      49     90034       3    0.5          2
4999  5000   28           4      83     92612       3    0.8          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
...        ...            ...                 ...         ...     ...
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
...          ...
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]

In [16]:
# Read the Description Excel Sheet
df1 = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name = 'Description')
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,Data Description:,NaN
5,NaN,NaN,NaN
6,NaN,ID,Customer ID
7,NaN,Age,Customer's age in completed years
8,NaN,Experience,#years of professional experience
9,NaN,Income,Annual income of the customer ($000)
10,NaN,ZIPCode,Home Address ZIP code.
11,NaN,Family,Family size of the customer
12,NaN,CCAvg,Avg. spending on credit cards per month ($000)
13,NaN,Education,Education Level. 1: Undergrad; 2: Graduate; 3:...
14,NaN,Mortgage,Value of house mortgage if any. ($000)
15,NaN,Personal Loan,Did this customer accept the personal loan off...
16,NaN,Securities Account,Does the customer have a securities account wi...
17,NaN,CD Account,Does the customer have a certificate of deposi...
18,NaN,Online,Does the customer use internet banking facilit...
19,NaN,CreditCard,Does the customer use a credit card issued by ...

In [31]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [17]:
df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [19]:
df.shape

(5000, 14)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [33]:
df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [34]:
df.nunique()

ID                    5000
Age                     45
Experience              47
Income                 162
ZIP Code               467
Family                   4
CCAvg                  108
Education                3
Mortgage               347
Personal Loan            2
Securities Account       2
CD Account               2
Online                   2
CreditCard               2
dtype: int64

Data set basic Information:

In this dataset there are 5000 different customers.

We have 13 independet variables and 1 dependent Personal Loan

We have 6 numeric variables : ID, Age, Experience, Income, CC_Avg, Mortgage

We have 3 categorical variables: Family,Education, ZIP code (since it is unique for every town)

We have 5 boolean Personal Loan, Securities Account, CD Account, Online, CreditCard

There are no missing values or duplicated values.